@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}
a {
  color: inherit;
}
img {
  width: 100%;
  height: auto;
}
.bx {
  font-size: 2.5rem;
}
.container {
  padding: 0 2rem;
}
a {
  text-decoration: none;
}
hr {
  width: 35%;
  height: 8px;
  border: none;
  background-color: #fea2a7;
  margin: auto;
  margin-bottom: 10px;
}

p {
  line-height: 150%;
}

/* Body */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  background-color: white;
}

/* Nav bar */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1a2e51;
  padding: 1rem 2rem;
}
.title {
  font-size: 2.5rem;
  background: -webkit-linear-gradient(120deg, #fea2a7, #baa9c9);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-items {
  display: flex;
}
.nav-item {
  margin: 0 2rem;
}
.link {
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  position: relative;
  background: -webkit-linear-gradient(120deg, #fea2a7, #baa9c9);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.link::before {
  content: "";
  background: -webkit-linear-gradient(120deg, #fea2a7, #baa9c9);
  width: 100%;
  height: 0.05rem;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  /* transition: transform 150ms; */
}
.link:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.mobile-menu {
  display: none;
}
.bx-menu,
.bx-x {
  cursor: pointer;
  background: -webkit-linear-gradient(120deg, #fea2a7, #baa9c9);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: none !important;
}

.menu p {
  display: none;
}

/* Main page */

.main {
  height: auto;
  background-color: white;
  margin-top: 2.5rem;
}

.head-image {
  height: 100%;
  position: relative;
  display: inline-block;
}

.head-image img {
  opacity: 0.8;
}

.overlay {
  background-color: black;
  top: -5px;
  z-index: -1;
}

.white {
  position: absolute;
  bottom: -5px;
  background-color: white;
  height: 10px;
  width: 100vw;
}

.main-text .headline {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 5rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

.cities,
.islands {
  text-align: center;
  color: #57668e;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.beach_banner {
  width: 100vw;
  margin: -1rem;
}

.beach_banner img {
  border-top: 5px solid #fea2a7;
}

.banner_text {
  height: 340px;
  margin-top: -5px;
  background-color: #47577e;
  text-align: center;
  margin-bottom: 80px;
  max-width: 70em;
}

.banner_text h2 {
  padding-top: 35px;
  padding-bottom: 10px;
  font-weight: 400;
  color: white;
  font-size: 1.6rem;
}

.banner_text p {
  margin: auto;
  width: 90%;
  padding-top: 15px;
  font-weight: 400;
  color: white;
  font-size: 1rem;
}

.big-button {
  margin-top: 30px;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  background-color: #47577e;
  border: 3px solid white;
  box-shadow: none;
  font-size: 1.3rem;
  color: white;
}

.scenic_escapes {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.scenic {
  text-align: center;
  color: #57668e;
  font-size: 2rem;
  margin-bottom: 20px;
}

.sceniccard {
  max-width: 350px;
}

.scenic_text {
  height: 300px;
  margin-top: -5px;
  background-color: #7d4d26;
  text-align: center;
  margin-bottom: 30px;
}

.scenic_text1 {
  height: 300px;
  margin-top: -5px;
  background-color: #456000;
  text-align: center;
  margin-bottom: 30px;
}

.scenic_text2 {
  height: 300px;
  margin-top: -5px;
  background-color: #435b65;
  text-align: center;
  margin-bottom: 30px;
}

.scenic_text h2,
.scenic_text1 h2,
.scenic_text2 h2 {
  padding: 15px 5px 0px 5px;
  font-weight: 400;
  color: white;
  font-size: 1.4rem;
}

.scenic_text p,
.scenic_text1 p,
.scenic_text2 p {
  margin: auto;
  padding-top: 15px;
  font-weight: 400;
  color: white;
  font-size: 1rem;
  width: 80%;
}

.scenic-button {
  margin-top: 30px;
  margin-bottom: 20px;
  width: 130px;
  height: 50px;
  border-radius: 25px;
  background-color: transparent;
  border: 3px solid white;
  box-shadow: none;
  font-size: 1rem;
  color: white;
}

@media screen and (max-width: 1115px) {
  .sceniccard {
    max-width: 300px;
  }
}

@media screen and (max-width: 970px) {
  .sceniccard {
    max-width: 240px;
  }

  .scenic-button {
    width: 120px;
    height: 40px;
    font-size: 1rem;
  }

  .scenic_text,
  .scenic_text1,
  .scenic_text2 {
    height: 300px;
  }

  .scenic_text h2,
  .scenic_text1 h2,
  .scenic_text2 h2 {
    font-size: 1.1rem;
    font-weight: 500;
  }

  .scenic_text p,
  .scenic_text1 p,
  .scenic_text2 p {
    font-size: 0.9rem;
    width: 90%;
  }
}

@media screen and (max-width: 790px) {
  .scenic_escapes {
    flex-direction: column;
    align-items: center;
  }

  .sceniccard {
    max-width: 95%;
    margin-bottom: 5%;
  }

  .scenic_text,
  .scenic_text1,
  .scenic_text2 {
    height: auto;
  }

  .scenic_text p,
  .scenic_text1 p,
  .scenic_text2 p {
    font-size: 1rem;
  }
}

/* CARDS */

.carousel {
  margin-top: 20px;
  margin-bottom: 30px;
  width: 100%;
  background-color: white;
  overflow: auto;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: auto;
}

.carousel::-webkit-scrollbar {
  display: none;
}

a.btn {
  font-size: 1.3rem;
  background: #fea2a7;
  border-radius: 4px;
  color: #1a2e51;
  display: inline-block;
  padding: 8px 30px 10px;
  position: relative;
  text-decoration: none;
  /* transition: all 0.1s 0s ease-out; */
}

div.cards,
div.cards2 {
  max-width: 960px;
  text-align: center;
  height: 400px;
}
div.card,
div.card2 {
  background: #ffffff;
  display: inline-block;
  margin: 8px;
  perspective: 1000;
  position: relative;
  text-align: left;
  /* transition: all 0.3s 0s ease-in; */
  width: 400px;
  z-index: 2;
}
div.card img,
div.card2 img {
  max-width: 400px;
}
div.card .card__image-holder,
div.card2 .card__image-holder {
  background: rgba(0, 0, 0, 0.1);
  height: 0;
  padding-bottom: 75%;
}
div.card div.card-title,
div.card2 div.card-title {
  background: #ffffff;
  padding: 6px 15px 10px;
  position: relative;
  color: #47577e;
}
div.card div.card-title a.toggle-info,
div.card2 div.card-title a.toggle-info {
  border-radius: 32px;
  height: 32px;
  padding: 0;
  position: absolute;
  right: 5px;
  top: 10px;
  width: 32px;
}
div.card div.card-title a.toggle-info span,
div.card2 div.card-title a.toggle-info span {
  background: #ffffff;
  display: block;
  height: 2px;
  position: absolute;
  top: 16px;
  /* transition: all 0.15s 0s ease-out; */
  width: 12px;
}
div.card div.card-title a.toggle-info span.left,
div.card2 div.card-title a.toggle-info span.left {
  right: 14px;
  transform: rotate(45deg);
}
div.card div.card-title a.toggle-info span.right,
div.card2 div.card-title a.toggle-info span.right {
  left: 14px;
  transform: rotate(-45deg);
}
div.card div.card-title h2,
div.card2 div.card-title h2 {
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: -0.05em;
  margin: 0;
  padding: 0;
}
div.card div.card-title h2 small,
div.card2 div.card-title h2 small {
  display: block;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -0.025em;
}
div.card div.card-description,
div.card2 div.card-description {
  margin-bottom: 5px;
  white-space: pre-line;
  text-justify: inter-character;
  max-width: 280px;
  padding-bottom: 10px;
  position: relative;
  font-size: 1.2rem;
}
div.card div.card-actions,
div.card2 div.card-actions {
  /* box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.075); */
  padding: 10px 15px 20px;
  text-align: center;
}
div.card div.card-flap,
div.card2 div.card-flap {
  background: #d9d9d9;
  position: absolute;
  width: 100%;
  transform-origin: top;
  transform: rotateX(-90deg);
}
/* div.card div.flap1,
div.card2 div.flap1 {
  transition: all 0.3s 0.3s ease-out;
}
div.card div.flap2,
div.card2 div.flap2 {
  transition: all 0.3s 0s ease-out;
} */
/* div.cards.showing div.card,
div.cards2.showing div.card2 {
  cursor: pointer;
  opacity: 0.6;
  transform: scale(0.88);
} */

.toggle-info.btn {
  color: #1a2e51 !important;
}
.no-touch div.cards.showing div.card:hover,
.no-touch div.cards2.showing div.card2:hover {
  opacity: 0.94;
  transform: scale(0.92);
}
div.card.show,
div.card2.show {
  opacity: 1 !important;
  transform: scale(1) !important;
}
div.card.show div.card-title a.toggle-info,
div.card2.show div.card-title a.toggle-info {
  background: #fea2a7 !important;
}

div.card.show div.card-title a.toggle-info span,
div.card2.show div.card-title a.toggle-info span {
  top: 15px;
}
div.card.show div.card-title a.toggle-info span.left,
div.card2.show div.card-title a.toggle-info span.left {
  right: 10px;
}
div.card.show div.card-title a.toggle-info span.right,
div.card2.show div.card-title a.toggle-info span.right {
  left: 10px;
}
div.card.show div.card-flap,
div.card2.show div.card-flap {
  background: #ffffff;
  transform: rotateX(0deg);
  z-index: 5;
}
div.card.show div.flap1,
div.card2.show div.flap1 {
  /* transition: all 0.3s 0s ease-out; */
  z-index: 5;
}
div.card.show div.flap2,
div.card2.show div.flap2 {
  /* transition: all 0.3s 0.2s ease-out; */
  z-index: 5;
}

div.cards.showing.open,
div.cards2.showing.open {
  height: 500px;
}
/* 
div.cards,
div.cards2 {
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
} */

/* Footer */
.footer {
  border-top: 5px solid #fea2a7;
  background-color: #1a2e51;
  display: flex;
  flex-direction: column;
}
.footer-title {
  text-align: center;
  font-weight: 400;
  font-size: 1.1rem;
  padding: 1rem 0;
  color: white;
}
.footer-items h3 {
  text-align: center;
  font-weight: 400;
  font-size: 1rem;
  padding-bottom: 2rem;
  color: #fea2a7;
}

/* Mobile */

@media screen and (max-width: 768px) {
  .container {
    padding: 0 1rem;
  }

  header {
    padding: 0.5rem 1rem;
  }

  .title {
    font-size: 1.5rem;
    margin-right: auto;
  }

  .navbar {
    background-color: #1a2e51;
    position: absolute;
    top: 3.5rem;
    right: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    transform: scaleY(0);
    transform-origin: bottom;
    /* transition: transform 500ms;  */
    z-index: 4;
  }
  .show-navbar {
    display: flex;
    transform: scaleY(1);
    transform-origin: top;
    /* transition: transform 300ms; */
    z-index: 4;
  }
  .nav-items {
    display: flex;
    flex-direction: column;
    margin-top: 20%;
  }
  .nav-item {
    margin: 0.5rem 0;
    font-size: 2.5rem;
  }
  .mobile-menu {
    display: block;
  }
  .bx-menu {
    display: block !important;
  }
  .show-bx {
    display: block !important;
  }
  .hide-bx {
    display: none !important;
  }

  .menu p {
    color: #fea2a7;
    display: inline-block;
    justify-content: flex-end;
    padding: 0 5px;
    font-size: 1.1rem;
  }
  .main-text .headline {
    font-size: 2rem;
  }

  .highlights h3 {
    font-size: 1.3rem;
    text-align: center;
    margin: 0;
  }

  .items img {
    margin: 20px 10px;
    max-width: 300px;
    min-width: 150px;
  }

  .items p {
    top: 62%;
    font-size: 1.2rem;
  }

  .cities {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .scenic {
    font-size: 1.5rem;
  }

  div.cards,
  div.cards2 {
    height: 300px;
  }

  div.card,
  div.card2 {
    max-width: 280px;
  }

  div.cards.open,
  div.cards2.open {
    height: 400px;
  }

  div.card div.card-description,
  div.card2 div.card-description {
    font-size: 1rem;
  }

  .banner_text {
    width: 100%;
    top: 70%;
    font-size: 1.1rem;
  }
}
