@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}
.bx {
  font-size: 2.5rem;
}
.container {
  padding: 0 2rem;
}

hr {
  width: 35%;
  height: 8px;
  border: none;
  background-color: #fea2a7;
  margin: auto;
  margin-bottom: 30px;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Body */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  background-color: white;
}

/* Nav bar */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1a2e51;
  padding: 1rem 2rem;
}
.title {
  font-size: 2.5rem;
  background: -webkit-linear-gradient(120deg, #fea2a7, #baa9c9);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-items {
  display: flex;
  text-decoration: underline;
}
.nav-item {
  margin: 0 2rem;
}
.link {
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  position: relative;
  background: -webkit-linear-gradient(120deg, #fea2a7, #baa9c9);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.link::before {
  content: "";
  background: -webkit-linear-gradient(120deg, #fea2a7, #baa9c9);
  width: 100%;
  height: 0.05rem;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  /* transition: transform 150ms; */
}
.link:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.mobile-menu {
  display: none;
}
.bx-menu,
.bx-x {
  cursor: pointer;
  background: -webkit-linear-gradient(120deg, #fea2a7, #baa9c9);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: none !important;
}

.menu p {
    display: none;
  }

/* Main page */

.main {
  height: auto;
  background-color: white;
  display: grid;
  margin-top: 2%;
}

.head-image {
  position: relative;
  display: inline-block;
}

.main-text .headline {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  color: #57668e;
  font-size: 5rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
}
.outdoor {
  text-align: center;
  margin-top: 30px;
  color: #57668e;
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Slides */

.slides {
  min-height: 500px;
  max-width: 800px;
  max-height: 800px;
  position: relative;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.slide {
  display: none;
}

.image {
    position: relative;
}

.slide img {
  opacity: 90%;
  border-bottom: 5px solid #fea2a7;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 15%;
  width: auto;
  padding: 5px;
  color: white;
  background-color: rgba(26, 46, 81, 0.70);
  font-weight: bold;
  font-size: 2rem;
  /* transition: 0.6s ease; */
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.text {
  color: #47577e;
  font-size: 1rem;
  padding: 15px 45px;
  position: relative;
  text-align: center;
}

.text a {
  color: #1430ff;
  text-decoration: underline;
}

.head {
  color: white;
  background-color: rgba(26, 46, 81, 0.70);
  font-size: 1.6rem;
  position: absolute;
  top: 90%;
  padding: 5px 5px;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 10px;
}

.button {
  text-align: center;
}

.big-button {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  background-color: white;
  border: 3px solid #57668e;
  box-shadow: none;
  font-size: 1.3rem;
  color: #47577e;
}

.dots {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #baa9c9;
  border-radius: 50%;
  display: inline-block;
  /* transition: background-color 0.6s ease; */
}

.active,
.dot:hover {
  background-color: #57668e;
}
/* .fade {
  animation-name: fade;
  animation-duration: 1.5s;
} */

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.history_cards {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.history {
  text-align: center;
  color: #57668e;
  font-size: 2rem;
  margin-bottom: 20px;
}

.historycard {
  max-width: 350px;
}

.history_text {
  height: auto;
  margin-top: -5px;
  background-color: #565b2b;
  text-align: center;
  margin-bottom: 30px;
}

.history_text1 {
  height: auto;
  margin-top: -5px;
  background-color: #505862;
  text-align: center;
  margin-bottom: 30px;
}

.history_text2 {
  height: auto;
  margin-top: -5px;
  background-color: #844a2d;
  text-align: center;
  margin-bottom: 30px;
}

.history_text2 p a {
  text-decoration: underline;
}

.history_text h2,
.history_text1 h2,
.history_text2 h2 {
  padding: 15px 5px 0px 5px;
  font-weight: 400;
  color: white;
  font-size: 1.4rem;
}

.history_text p,
.history_text1 p,
.history_text2 p {
  margin: auto;
  padding-top: 15px;
  font-weight: 400;
  color: white;
  font-size: 1rem;
  width: 80%;
}

.history-button {
  margin-top: 30px;
  margin-bottom: 20px;
  width: 130px;
  height: 50px;
  border-radius: 25px;
  background-color: transparent;
  border: 3px solid white;
  box-shadow: none;
  font-size: 1rem;
  color: white;
}

@media screen and (max-width: 1115px) {
  .historycard {
    max-width: 300px;
  }
}

@media screen and (max-width: 970px) {
  .historycard {
    max-width: 270px;
  }

  .history-button {
    width: 120px;
    height: 40px;
    font-size: 1rem;
  }

  .history_text,
  .history_text1,
  .history_text2 {
    height: auto;
  }

  .history_text h2,
  .history_text1 h2,
  .history_text2 h2 {
    font-size: 1.1rem;
    font-weight: 500;
  }

  .history_text p,
  .history_text1 p,
  .history_text2 p {
    font-size: 0.9rem;
    width: 90%;
  }
}

@media screen and (max-width: 875px) {
  .history_cards {
    flex-direction: column;
    align-items: center;
  }

  .historycard {
    max-width: 95%;
    margin-bottom: 5%;
  }

  .history_text,
  .history_text1,
  .history_text2 {
    height: auto;
  }

  .history_text p,
  .history_text1 p,
  .history_text2 p {
    font-size: 1rem;
  }
}

/* carousel */

.wildlife {
  margin: auto;
  margin-top: 1.5rem;
  width: 100%;
  height: auto;
  background-color: white;
  text-align: center;
}
.wildlife h3 {
  text-align: center;
  color: #57668e;
  font-size: 2rem;
  margin-bottom: 20px;
}

.wildlife p {
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
  color: #47577e;
  font-size: 1.3rem;
}
#carousel {
  padding: 0 1rem;
  width: 95%;
  height: auto;
  background-color: white;
  overflow: auto;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin-bottom: 1.2rem;
}
#carousel::-webkit-scrollbar {
  display: none;
}
#carousel .car_slide {
  display: inline-block;
  position: relative;
}
.car_slide img {
  margin: 20px 20px;
  max-width: 400px;
  min-width: 200px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.car_slide p {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 500;
  font-size: 2rem;
  color: white;
  background-color: rgba(26, 46, 81, 0.70);
  padding: 5px 5px;
}

.wild-button {
  margin-bottom: 50px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 12px 12px;
  width: auto;
  height: auto;
  border-radius: 10px;
  background-color: #fea2a7;
  border: 3px solid #fea2a7;
  box-shadow: none;
  font-size: 1.3rem;
  color: #272e3f;
}

.wild-button a {
    text-decoration: none;
}

/* Footer */
.footer {
  border-top: 5px solid #fea2a7;
  background-color: #1a2e51;
  display: flex;
  flex-direction: column;
}
.footer-title {
  text-align: center;
  font-weight: 400;
  font-size: 1.1rem;
  padding: 1rem 0;
  color: white;
}
.footer-items h3 {
  text-align: center;
  font-weight: 400;
  font-size: 1rem;
  padding-bottom: 2rem;
  color: #fea2a7;
}

/* Mobile */

@media screen and (max-width: 768px) {
  .container {
    padding: 0 1rem;
  }

  header {
    padding: 0.5rem 1rem;
  }

  .title {
    font-size: 1.5rem;
    margin-right: auto;
  }

  .navbar {
    background-color: #1a2e51;
    position: absolute;
    top: 3.5rem;
    right: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    transform: scaleY(0);
    transform-origin: bottom;
    /* transition: transform 500ms; */
    z-index: 4;
  }
  .show-navbar {
    display: flex;
    transform: scaleY(1);
    transform-origin: top;
    /* transition: transform 300ms; */
    z-index: 4;
  }
  .nav-items {
    display: flex;
    flex-direction: column;
    margin-top: 20%;
  }
  .nav-item {
    margin: 0.5rem 0;
    font-size: 2.5rem;
  }
  .mobile-menu {
    display: block;
  }
  .bx-menu {
    display: block !important;
  }
  .show-bx {
    display: block !important;
  }
  .hide-bx {
    display: none !important;
  }

  .menu p {
    color: #fea2a7;
    display: inline-block;
    justify-content: flex-end;
    padding: 0 5px;
    font-size: 1.1rem;
  }

  .main-text .headline {
    font-size: 2.1rem;
  }

  .items img {
    margin: 20px 10px;
    max-width: 300px;
    min-width: 150px;
  }

  .items p {
    top: 62%;
    font-size: 1.2rem;
  }

  .banner_text {
    width: 100%;
    top: 70%;
    font-size: 1.1rem;
  }

  .outdoor {
    margin-bottom: 15px;
    font-size: 1.5rem;
  }

  .history {
    margin-bottom: 15px;
    font-size: 1.5rem;
  }

  .prev,
  .next {
    font-size: 1.5rem;
  }

  .head {
    font-size: 1.5rem;
  }

  .wildlife h3 {
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
    margin-bottom: 1rem;
  }

  .car_slide img {
    margin: 10px 10px;
    max-width: 200px;
    min-width: 150px;
  }

  .car_slide p {
    font-size: 1.6rem;
  }

  .head {
      top:80%;
  }


}
